<section id="wishes" class="outer-shadow">
  
  <div id="entourage">
    <h2><strong>en&bull;tou&bull;rage</strong> [ahn-<em>too</em>-<strong>rahzh</strong>]</h2>
    <ol>
      <li><span>A group of attendants or associates, as of a person of rank or importance.</span></li>
      <li><span>A supportive group of friends and family, especially of a person who has a <strong>Special Birthday</strong>, and is otherwise known as; "<strong>The one and only Gina Kilpatrick.</strong>"</span></li>
      <li><span>A rowdy group of fun-loving people ready to celebrate Gina’s Special Birthday.</span></li>
    </ol>
  </div>
  
  <div id="users">
  <% @list.each do |l| %>
    <div id="<%= l.id %>" class="user">
    	<% if l.wish != "" %>
      <div class="wish"><%= l.wish %></div>
      <% end %>
      <% if l.name != "" %>
  	  <div class="name">&mdash;<%= l.name %></div>
  	  <div class="date">[on <%= l.created_at.to_formatted_s(:easy) %>]</div>
    	
      <% end %>
    </div>
  <% end %>
  </div>
</section>