<div id="container">
  
  <header class="outer-shadow">
    
    <div id="logo"></div>
    
    <div class="content">
	  <!--
    <%= render :partial => "users/sharing" %>
	  -->
	  
      <%= render :partial => "users/form" %>
    </div>
  </header>
  
  <section id="photos" class="clearfix">
    <div id="gina-1" class="photo outer-shadow"></div>
    <div id="gina-2" class="photo outer-shadow"></div>
    <div id="gina-3" class="photo outer-shadow"></div>
    <div id="gina-4" class="photo outer-shadow"></div>
  </section>
  
	<%= render :partial => "users/list" %>
</div>